// COLOR VARIABLES //
$Tomato: hsl(4, 100%, 67%);
$DarkSlateGrey: hsl(234, 29%, 20%);
$CharcoalGrey: hsl(235, 18%, 26%);
$background-color: hsl(235, 18%, 26%);
$Grey: hsl(231, 7%, 60%);
$White: #f0f0f0;


// IMPORT FONTS //
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Poppins&display=swap');


// Clear all styles in page //
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

// Background standard style //
body{
    background-color: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

// Main container //
div#container{
    background-color: $White;
    width: 700px;
    height: 500px;
    border-radius: 25px;
    box-shadow: 10px 10px 39px -13px rgba(51,51,51,1);
}

// Container with the illustration on right side //
div#container-right-side{
    img{
        height: 30.5em;
        padding: 0.9375em 0.9375em 0.9375em 0em;
    }
}

// Container with bullets, title and email content on left side//
div#container-left-side{
    height: 100%;
    padding: 15px 15px 15px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    h1#title{
        font-size: 32px;
        margin: 0.35em 0 0.35em 0;


    }
    ul.main-list{
        list-style: none;
        width: 100%;

        div.li-alignment-center{
            display: flex;
            align-items: center;
            padding-bottom: 0.9375em;
        }

        img{
            padding-right: 0.5em;
        }
    }

}

div#email-area{
    p{
        padding: 0.9375em 0em 0.375em 0em;
    }

    input{
        width: 95%;
        outline: none;
        padding: 0.4375em;
        margin-bottom: 1em;
    }

    #submit-email-btn{
        padding: 1em;
        width: 95%;
        font-weight: bold;
        margin: auto;
        color: $White;
        background-color: $DarkSlateGrey;
        border-radius: 5px;
        border: none;
        
    }

    #submit-email-btn:hover{
        box-shadow: 10px 10px 39px -13px rgba(0,0,0,0.75);
        background: linear-gradient(160deg, rgba(255,82,123,1) 35%, rgba(255,105,62,1) 77%);
        cursor: pointer;
    }

}

// Media query for mobile devices //
@media (max-width: 768px) {
    div#container {
        width: 90%;
        height: auto;
        margin: 10px;
    }

    div#container-right-side {
        img {
            display: none;
        }
    }
}