// COLOR VARIABLES //
$Tomato: hsl(4, 100%, 67%);
$DarkSlateGrey: hsl(234, 29%, 20%);
$CharcoalGrey: hsl(235, 18%, 26%);
$background-color: hsl(235, 18%, 26%);
$Grey: hsl(231, 7%, 60%);
$White: #f0f0f0;

// Clear all styles in page //
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

// Background standard style //
body{
    background-color: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

// Main container //
div#container{
    background-color: $White;
    width: 700px;
    height: 500px;
    border-radius: 15px;
}

// Container with the illustration on right side //
div#container-right-side{
    img{
        height: 31.5em;
        padding: 0.9375em 0.9375em 0.9375em 0em;
    }
}

// Container with bullets, title and email content on left side//
div#container-left-side{
    height: 100%;
    padding: 15px 15px 15px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    h1#title{
        font-size: 48px;
        margin: 0.35em 0 0.35em 0;


    }
    ul.main-list{
        list-style: none;
        width: 100%;

        div.li-alignment-center{
            display: flex;
            align-items: center;
            padding-bottom: 0.9375em;
        }

        img{
            padding-right: 0.5em;
        }
    }

}